<nav>
    <div class="nav-wrapper orange">
      <a href="/" class="brand-logo center">Tech News Scraper</a>
      <ul class="right" id="nav-mobile">
        <li><a href="/scrape">Run the Scraper!</a></li>
        <li><a href="https://github.com/rrelief/All_The_News" target="_blank">Git Repo</a></li>
      </ul>
    </div>
  </nav>